<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Job</title>
</head>
<body>
    <h1>Welcome, {{ request.session.first_name }}! Create a Job!</h1>

    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

    <br>
    <form action="/users/add_job" method="POST">
        {% csrf_token %}
        Job: <input type="text" name="job" value=""> <br><br>
        Description: <input type="text" name="description" value=""><br><br>
        Location: <input type="text" name="location" value=""><br>
        <input type="submit" name="submit" value="Add Job"> 
    </form>
    <form action="cancel" method = "POST">
        {% csrf_token %}
        <input type="submit" name="submit" value="Cancel">
    </form>
</body>
</html>